/* Il est possible d'importer dans un fichier CSS le CSS d'autres fichiers CSS */
/* Si import de CSS, les déclarations d'import DOIVENT être faîtes AVANT n'importe quelle autre déclaration CSS */
@import url('./bootstrap-icons.css');


/* Déclarations générales */

/* permet de surcharger le CSS du user agent, c'est à dire du navigateur */

:root{
    font-size: 1.2rem;
    line-height: 1.6rem;
    scroll-behavior: smooth;
    --element-gap: 0.5rem;
    --bg-nav-color: black;
    --nav-color: white;
    --nav-link-color: white;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/* déclaration de classes */

.toto{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    padding: var(--element-gap);
    margin: var(--element-gap)  0;
}

.toto::before{
    content: open-quote;
}

.toto::after{
    content: close-quote;
}

.go-top{
    position: fixed;
    bottom : var(--element-gap);
    right: var(--element-gap);
    background-color: darkorange;
}

.go-top a{
    margin: var(--element-gap);
    color: white;
    text-decoration: none;
}

.table-rwd{
    overflow: auto;
}

.alert{
    margin: var(--element-gap);
    border: 3px solid transparent;
    border-radius: var(--element-gap);
    padding: var(--element-gap);
}

.alert::before{
    font-family: 'bootstrap-icons';
}

.alert-info{
    border-color: blue;
    background-color: rgba(0, 0, 255, 0.208);
    color: white;
}

.alert-info::before{
    content: '\F430';
    color: blue;
    font-size: 1.5rem;
}

.alert-danger::before{
    content: '\F851';
    color: red;
    font-size: 1.5rem;
}

.alert-warning::before{
    content: '\F33A';
    color: darkorange;
    font-size: 1.5rem;
}

/* déclarations de structure */

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/y-so-serious-white.png');
}

body > header > *,
body > nav[role="navigation"] > ul,
main,
body > footer > *{
    margin-left: auto;
    margin-right: auto;
}

body > nav[role="navigation"] > ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: var(--element-gap);
    padding-bottom: var(--element-gap);
}

body > nav[role="navigation"] > ul a{
    text-decoration: none;
    display: block;
    border-top: 1px solid var(--nav-link-color);
}

body > nav[role="navigation"] > ul li:last-child a{
    border-bottom: 1px solid var(--nav-link-color);
}

body > header ,
body > nav[role="navigation"],
body > footer{
    background-color: black;
    color: var(--nav-color);
}

body > header a,
body > nav[role="navigation"] a,
body > footer a{
    color: var(--nav-link-color);
}

body > nav[role="navigation"] a:hover,
body > nav[role="navigation"] a:focus-visible,
body > nav[role="navigation"] a:focus{
    background-color: var(--nav-link-color);
    color: var(--bg-nav-color);
    outline: none;
}

/* déclaration des media queries */

@media print{
    body > nav, 
    .go-top{
        display: none;
    }

    @page{
        size: landscape;
    }
}

@media screen and (min-width: 576px) {
    body > header > *,
    body > nav[role="navigation"] > ul,
    main,
    body > footer > *{
        width: 540px;
    }
}

@media screen and (min-width: 700px) {
    body > nav[role="navigation"] > ul{
        display: flex;
        flex-wrap: wrap;
    }

    body > nav[role="navigation"] > ul a,
    body > nav[role="navigation"] > ul li:last-child a
    {
        border: unset;
        padding-left: var(--element-gap);
        padding-right: var(--element-gap);
    }
}

@media screen and (min-width: 768px) {
    body > header > *,
    body > nav[role="navigation"] > ul,
    main,
    body > footer > *{
        width: 720px;
    }
}

@media screen and (min-width: 992px) {
    body > header > *,
    body > nav[role="navigation"] > ul,
    main,
    body > footer > *{
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    body > header > *,
    body > nav[role="navigation"] > ul,
    main,
    body > footer > *{
        width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    body > header > *,
    body > nav[role="navigation"] > ul,
    main,
    body > footer > *{
        width: 1320px;
    }
}